---
import menuIcon from '../assets/MenuIcon.svg'
---
<div id="menu-container" class="menu-container">
    <div class="brand-small">Casa Carolina</div>
    <button type="button" class="menu-toggle" data-toggle="off-canvas-menu" aria-expanded="false" aria-controls="off-canvas-menu">
        <img src={menuIcon.src} width={24} height={24} alt="Menu button">
    </button>

    <div id="off-canvas-menu" class="off-canvas-menu">
        <!-- Off-canvas menu content goes here -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Reservation">Reservation</a></li>
            <li><a href="/LocalLinks">Local Links</a></li>
            <li><a href="/About">About</a></li>
        </ul>
    </div>
</div>

<div id="menu-bar" class="menu-bar">
    <!-- Menu content goes here -->
    <div class="menu-container">
        <div class="brand">Casa Carolina</div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/LocalLinks">Local Links</a></li>
            <li><a href="/About">About</a></li>
        </ul>
        <div class="reservation-link">
            <svg class="reservation-icon" xmlns="http://www.w3.org/2000/svg" width="20" height="22" viewBox="0 0 20 22" id="calendar">
                <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
                    <g stroke="#000" stroke-width="2" transform="translate(-919 -1443)">
                        <g transform="translate(920 1444)">
                            <rect width="18" height="18" y="2" rx="2"></rect>
                            <path d="M13 0v4M5 0v4M0 8h18"></path>
                        </g>
                    </g>
                </g>
            </svg>
            <a href="/Reservation">Reservation</a>
        </div>
    </div>
</div>


<style>
    .menu-toggle {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0;
    }

    .menu-toggle img {
        width: 24px;
        height: 24px;
    }

    .off-canvas-menu {
        position: fixed;
        top: 0;
        right: -200px; /* Start off-canvas menu off-screen */
        height: 100%;
        width: 200px; /* Adjust width as needed */
        background-color: var(--menu-color-dark); /* Adjust background color as needed */
        padding-top: 50px; /* Adjust top padding to accommodate header if any */
        z-index: 1000; /* Ensure menu appears above other content */
        transition: right 0.3s ease; /* Add transition for smooth sliding */
    }

    .off-canvas-menu.active {
        right: 0; /* Slide menu into view */
    }

    .off-canvas-menu ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .off-canvas-menu ul li {
        padding: 10px;
    }

    .off-canvas-menu ul li a {
        color: var(--link-highlight);
        text-decoration: none;
    }

    .brand-small{
        font-size: 20px; /* Adjust font size as needed */
        font-weight: bold; /* Adjust font weight as needed */
        color: var(--text-color1); /* Adjust color as needed */
    }

    .menu-bar {
        background-color: var(--menu-color-light);
        width: calc(100vw / var(--golden-ratio));
        margin: 0 auto;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100px;
    }

    .menu-container {
        display: flex;
        justify-content: space-between; /* Distribute items */
        align-items: center; /* Center vertically */
        width: 100%; /* Adjust width as needed */
        //padding: 10px; /* Adjust padding as needed */
    }

    .brand {
        font-size: 20px; /* Adjust font size as needed */
        font-weight: bold; /* Adjust font weight as needed */
        color: var(--text-color1);; /* Adjust color as needed */
        padding-left: 10px;
    }

    .menu-bar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
    }

    .menu-bar ul li {
        padding: 0 20px; /* Adjust padding as needed */
    }

    .menu-bar ul li a {
        color: var(--text-color1);
        text-decoration: none;
        transition: color 0.3s ease; /* Add transition for smooth color change */
    }

    .menu-bar ul li a:hover {
        color: var(--link-highlight); /* Change color on hover */
    }
    .reservation-link{
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        padding: 0 10px;
        background-color: var(--menu-color-dark);
        height: 100px;
        width: calc(100px * var(--golden-ratio));
        transition: all 0.3s ease;
        .reservation-icon{
            padding: 0 10px;
        }
        .reservation-icon rect,
        .reservation-icon path {
            stroke: var(--link-highlight); /* Change the stroke color of the SVG */
        }
    }
    .reservation-link a{
        text-decoration: none;
        color: var(--link-highlight);

    }
    .reservation-link:hover{ /* Change color on hover */
        background-color: var(--menu-color-light);
        a{
            color: var(--text-color1);
        }
        .reservation-icon rect,
        .reservation-icon path {
            stroke: var(--text-color1); /* Change the stroke color of the SVG */
        }
    }

    @media (max-aspect-ratio: 1/1) {
        .menu-toggle {
            display: block;
        }
        .off-canvas-menu {
            display: block;
        }
        .brand-small {
            display: block;
        }
        .menu-bar {
            display: none;
        }
    }

    @media (min-aspect-ratio: 1/1) {
        .menu-toggle {
            display: none;
        }
        .off-canvas-menu {
            display: none;
        }
        .brand-small {
            display: none;
        }
    }

</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const menuToggle = document.querySelector('.menu-toggle');
        const offCanvasMenu = document.getElementById('off-canvas-menu');

        menuToggle.addEventListener('click', function () {
            // Toggle the active class on the off-canvas menu
            offCanvasMenu.classList.toggle('active');

            // Toggle the aria-expanded attribute on the menu toggle button
            const ariaExpanded = offCanvasMenu.classList.contains('active') ? 'true' : 'false';
            menuToggle.setAttribute('aria-expanded', ariaExpanded);

            // Adjust the right position of the menu button and the positioning of the website content when the menu is opened
            if (offCanvasMenu.classList.contains('active')) {
                const offCanvasMenuWidth = offCanvasMenu.offsetWidth;
                menuToggle.style.right = `${offCanvasMenuWidth + 10}px`;
                document.body.style.transition = 'margin-right 0.3s ease'; // Add transition for smooth sliding
                document.body.style.marginRight = `${offCanvasMenuWidth}px`;
            } else {
                menuToggle.style.right = '10px';
                document.body.style.marginRight = '0';
            }
        });

        // Close the off-canvas menu when clicking outside of it
        document.addEventListener('click', function (event) {
            if (!offCanvasMenu.contains(event.target) && !menuToggle.contains(event.target)) {
                offCanvasMenu.classList.remove('active');
                menuToggle.setAttribute('aria-expanded', 'false');

                // Reset the right position of the menu button and the positioning of the website content
                menuToggle.style.right = '10px';
                document.body.style.marginRight = '0';
            }
        });
    });
</script>
